body{
    min-height: 100vh;
    font-family: monospace;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    width: 100%;
    max-width: 58em;
}

.navbar{
    display: flex;
    width: 100%;
    height: 5em;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.75em;
    
}

.pages{
    display: flex;
    font-size: 0.9em;
    gap: 1.2em;
}

.navbar a:link {
    text-decoration: none;
}

.navbar a:visited {
    text-decoration: none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

.holder{
    width: 100%;
    max-width: 58em;
    background-color: black;
    border: 2px solid;
    border-radius: 12px;
    border-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    padding: 0 1em;
}

.separator{
    border-top: 2px dashed gray;
    width: 90%;
}

.sectiontitle{
    width: 100%;
}

.sectiontitle h1{
    padding-left: 1em;
}

.latestProjImg{
    width: 90%;
    border-radius: 15px;
}

.latestProjDetails{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.latestProjDetails h1{
    padding-left: 2em;
}

.latestProjLinks{
    padding-right: 4em;
}

.latestProjLinks a:link{
    color: gray;
}
.latestProjLinks a:visited{
    color: gray;
}

.banner{
    width: 100%;
    height: 2.5em;
    white-space: nowrap;
    overflow-x: hidden;
    overflow: hidden;
}

.bannerText{
    display: inline-block;
    animation: scrollBanner linear 2s infinite;
    overflow: hidden;
    color: gray;
    font-style: italic;
}

@keyframes scrollBanner{
    0% { transform: translateX(0); }
    100% { transform: translateX(-5%);}
}